@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,700&display=swap');

*{
    padding : 0;
    margin:0 ;
    font-family :'Roboto', sans-serif;
}

html { 
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../img/b1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 28px;
    word-spacing: 1px;
}
#About{height: 390px}

header {
    background-color:#000;
    color: #fff;
    padding: 45px 0px 45px;
    position: sticky;
    top: 0;
}

 header h1{
    margin-top: 10px;
    font-size: 35px;
    text-align: left;
    margin-right: 50px;
    color:#E9A983 ;
} 
nav ul{
    width: auto;
    overflow: auto;
}

nav{
    float: right;
    margin-bottom: 30px;
}
nav ul li{
    display: inline-block;


}


nav ul li a {
    text-decoration: none;
    color:#fff ;
    font-size: 18px;
    margin-right: 50px;

}  

nav ul li:hover{
    border: 1px solid #fff;

}
footer{
    margin-top: 465px;
    text-align: center;
    color:rgb(250, 237, 225);
    font-size: 15px;
}

#About pre{
    margin-left: 210px;
    margin-top: 180px;
    font-size: 25px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    color: rgb(252, 236, 113);
font-style: oblique;
}

.Branchs-list {
    width: 19%;
    padding: 15px 20px;
    float: left;
    margin-right: 10px;
    text-align: center;
    height: 300px;
    font-size: 30px ;
    margin-top: 18px;
    margin: 70px;
    color:rgb(15, 10, 7) ;
    font-family: monospace
    
;}

.Branchs-list p iframe{
   
width: 200px;
height: 300px;
padding-top: 20px;
float: left;
border-radius: 20px;
}


.Branchs-list p iframe :hover{
    border: 1px solid rgb(27, 25, 25);
   

}

#Gallery{
height: 550px;
}


.Gallery-list img{
    
        width: 20%;
        padding: 5px 10px 5px 0;
        float: right;
        margin-right: 5px;
        height: 300px;
        margin-top: 48px;
        margin: 90px 50px 50px 50px;
        color:rgb(170, 117, 87) ;
        border-radius: 20%
    ;}
    
    /* .Branchs-list p iframe{
       
    width: 250px;
    height: 350px;
    padding-top: 20px;
    border-radius: 20px;
    } */